<div class="menu">
  <div class="destination">
    <div class="from">{{from}}</div>
    <div class="reverse-btn" (click)="onClick()">
      <img src="../../../../assets/icons/reverse.svg" alt="reverse" class="reverse-btn-image">
    </div>
    <div class="to">{{to}}</div>
  </div>
  <div class="date">
    <span>Return</span>
    <div class="divider"></div>
    <div class="departure">{{startDate | date :'fullDate'}}</div>
    <div class="return">{{endDate | date :'fullDate'}}</div>
    <div class="divider"></div>
  </div>
  <div class="people">
    <span>{{people}}</span>
    <img src="../../../../assets/icons/person.svg" alt="person">
  </div>
  <div class="edit-btn">
    <button mat-raised-button color="primary">Edit</button>
  </div>
</div>
<div class="one-way">
  <img src="../../../../assets/icons/plane-to.svg" alt="plane">
  <h3>{{from}}</h3>
</div>
<div class="two-way">
  <img src="../../../../assets/icons/plane-from.svg" alt="plane">
  <h3>{{to}}</h3>
</div>