.menu {
  display: flex;
  gap: 63px;
  justify-content: flex-start;
  align-items: center;
  margin: 88px auto 20px;
  padding: 20px 35px;
  width: 100%;
  height: 68px;
  background-color: #fafafa;
  border-bottom: 1px solid #e5e5e5;
}

.destination,
.date,
.people {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #74767a;
}

.edit-btn {
  padding: 4px 8px;
  width: 44px;
  height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: #11397e;
  font-size: 16px;
  background: #f4f6f9;
  border-radius: 4px;
  border: none;
}

.divider {
  width: 4px;
  height: 4px;
  background: #0090bd;
  border-radius: 2px;
}
