.container {
  position: relative;
  top: -7rem;
  width: 100vw;
  height: 120vh;
  background-image: url(../../../../assets/images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: 64%;
  display: flex;
}