<div class="auth-modal-overlay"
  (click)="closeModalOverlay($event)"
>
  <div class="auth-modal">
    <nav mat-tab-nav-bar ngClass="tabs" [tabPanel]="">
      <a mat-tab-link routerLink="login" routerLinkActive="active-link" >Login</a>
      <a mat-tab-link routerLink="signup" routerLinkActive="active-link" >Sign up</a>
    </nav>  
    <router-outlet></router-outlet>
    <button 
      mat-icon-button 
      (click)="closeModal($event)" 
      class="close-btn" 
      aria-label="close dialog" 
      mat-dialog-close
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
