.login-wrapper {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: #fff;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.oath-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 2.5rem;
  margin-bottom: 1.5rem;
  color: #49454F;
  outline: none;
  border:#8e8798 0.5px solid;
  border-radius: 4px;
}

.icon {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.google-icon {
  background-image: url('../../../../assets/icons/google_24px.svg');
}

.facebook-icon {
  background-image: url('../../../../assets/icons/facebook_24px.svg');
}

.separator {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #49454F;
}

.separator-line {
  width: 20%;
  height: 1px;
  display: block;
  background-color: #8e8798;
}

.right-align-div {
  align-self: flex-end;
  color: var(--primary-color);
  margin-bottom: 1rem;
} 

.hint-link {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 12px;

  &:hover {
    color: var(--link-hover-color);
  }
}
