<div class="booking-passengers-container ">
    <div class="title-section">
        <div class="title">
            <img src="../../../../assets/icons/passengers.svg" alt="passengers">
            <p class="title-heading">Passengers</p>
        </div>
        <p class="title-text">Enter the passenger's names as they appear on document (passport or ID). </p>
    </div>
    <mat-card *ngFor="let card of cards; index as i;" class="card">
        <mat-card-content>
            <p class="card-title">{{i+1}}. {{card.ageCategory | titlecase}}</p>
            <div class="form">
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>First name</mat-label>
                    <input matInput type="text">
                    <mat-icon matSuffix>
                        <img src="../../../../assets/icons/info.svg">
                    </mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Last name</mat-label>
                    <input matInput type="text">
                    <mat-icon matSuffix>
                        <img src="../../../../assets/icons/info.svg">
                    </mat-icon>
                  </mat-form-field>

                  <section class="toggle-sex">
                    <mat-button-toggle-group [(ngModel)]="sex">
                        <mat-button-toggle value="male">Male</mat-button-toggle>
                        <mat-button-toggle value="female">Female</mat-button-toggle>
                    </mat-button-toggle-group>
                  </section>

                  <mat-form-field appearance="fill" class="birth-date-picker">
                    <mat-label>Date of birth</mat-label>
                    <input matInput [matDatepicker]="datepicker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                      <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                      </mat-datepicker-actions>
                    </mat-datepicker>
                  </mat-form-field>
            </div>
            <br>
            <mat-slide-toggle
                class="assistance-toggle"
                [checked]="checked"
                [disabled]="disabled">
                <img class="assistance-icon" src="../../../../assets/icons/assistance.svg" alt="assistance">
                Need special assistance?
          </mat-slide-toggle>
        </mat-card-content>
    </mat-card>

    <div class="stepper-btns">
      <button mat-raised-button (click)="onBackClick()">Back</button>
      <button mat-raised-button (click)="onNextClick()" color="primary">Continue</button>
  </div>
</div>
