.booking-passengers-container {
  margin-top: 10px;
  padding: 0 40px;
}

.title {
  display: flex;
  flex-direction: row;

  &-heading {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #11397e;
    margin: 10px 0;
    padding: 0 10px;
  }
}

.title-text {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.card {
  margin: 15px 0;

  &-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
}

.form-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
}

.info-icon {
  margin-top: -20px;
}

::ng-deep .mat-button-toggle-label-content {
  padding: 3px 13px !important;
}

.assistance-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.assistance-icon {
  margin-bottom: -3px;
  padding: 0 5px;
}

.stepper-btns {
  display: flex;
  justify-content: flex-end;

  button {
    margin: 0 5px;
  }
}
