.flight-details {

  &-from,
  &-to {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    gap: 28px;
    width: 1128px;
    height: 130px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}

.date {
  font-size: 16px;
  /* Neutral/Neutral/neutral30 */
  color: #74767A;
}

.time {
  font-size: 30px;
  color: black;
}

.timeZone {
  font-size: 8px;
  /* Neutral/Neutral/neutral30 */
  color: #74767A;
}

.city,
.price {
  font-size: 12px;
  color: #74767A;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  span:nth-child(2) {
    font-size: 30px;
    color: #11397E;
  }
}

.seats {
  display: flex;
  align-items: flex-end;
  width: 133px;
  height: 40px;
  //padding: 4px 8px 4px 32px;
  background: rgba(241, 201, 51, 0.3);
  border-radius: 2px;
}

.duration {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

.duration-time {
  font-size: 12px;
  color: black;
}

.flight-number {
  font-size: 14px;
  color: black;
}

.plane {
  display: flex;
  align-items: center;
}

.divider {
  width: 130px;
  height: 0;
  border: 2px solid #D0D9DF;
}

.time-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}


.large,
.large:active {
  border-top: 1px solid #cecece;
  border-bottom: solid 4px #B3261E;
  transform: scale(1.1);
  font-size: 30px;
  color: #11397E;
}

.big-date {
  font-size: 20px;
  color: #11397E;
}

.big-weekday {
  font-size: 14px;
}

.price-warning {
  border-left: 2px dashed #D0D9DF;
}

.select {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  width: 78px;
  height: 36px;
  background: linear-gradient(108.75deg, #0090BD 59.91%, #073590 95.36%);
  /* Primary */
  border: 1px solid #11397E;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}