.wrapper {
  margin: 0 auto;
  width: var(--max-content-width);
}

.flight-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0;

  img {
    margin: 0 10px;
  }

  p {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #11397e;
    margin: 0;
  }
}

.carousel {
  margin-bottom: 2rem;
  cursor: url('../../../../assets/icons/mouse-cursor.svg'), pointer;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 0px;
  width: 225px;
  height: 70px;
  background: #ffffff;
  border-left: 1px solid #cecece;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  margin-bottom: 2rem;

  &-date {
    font-weight: 700;
    font-size: 14px;
    color: #0090BD;
  }

  &-weekday {
    font-size: 12px;
    color: #74767a;
  }

  &-price {
    font-weight: 700;
    font-size: 20px;
    color: #11397E;

  }
}

.slide:hover {
  border-top: 1px solid #cecece;
  border-bottom: 4px solid #F1C933;
  transform: scale(1.1);

}

.slide:active {
  border-bottom: solid 4px #B3261E;
  transform: scale(1.1);
}

::ng-deep .carousel-control-prev,
::ng-deep.carousel-control-next {
  width: 40px !important;
  height: 40px !important;
  background: #e9edf1 !important;
  border-radius: 35px;
}

.flight-details {

  &-from,
  &-to {
    display: flex;
    justify-content: space-evenly;
  }
}

.large,
.large:active {
  border-top: 1px solid #cecece;
  border-bottom: solid 4px #B3261E;
  transform: scale(1.1);
  font-size: 30px;
  color: #11397E;
}

.big-date {
  font-size: 20px;
  color: #11397E;
}

.big-weekday {
  font-size: 14px;
}

.big-price {
  font-size: 30px;
  color: #11397E;
}

.select {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  width: 78px;
  height: 36px;
  background: linear-gradient(108.75deg, #0090BD 59.91%, #073590 95.36%);
  /* Primary */
  border: 1px solid #11397E;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}