<footer class="footer">
  <div class="left-section">
    <div class="rights">© 2023, AIRWAY. All rights reserved.</div>
    <div class="payments">
      <div class="payments-description"> We accept these payment methods </div>
      <div class="payments-cards">
        <img src="assets/icons/master-card.svg" alt="master-card">
        <img src="assets/icons/visa.svg" alt="visa">
        <img src="assets/icons/amazon.svg" alt="amazon">
        <img src="assets/icons/american-express.svg" alt="express">
      </div>
    </div>
  </div>
  <div class="developer-info">    
    <div class="developer-list">
      <div class="label">Developed by:</div>
      <div class="link"><a href="https://github.com/olena-web/">OLENA HONCHARUK</a></div>
      <div class="link"><a href="https://github.com/annakolesnikova/">ANNA KOLESNIKOVA</a></div>
      <div class="link"><a href="https://github.com/mlatysheva/">MARIA LATYSHEVA</a></div>
    </div>
  </div>
</footer>