.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: calc(100vh - var(--footer-height));
  height: var(--footer-height);
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-top: 1px solid #d0d9df;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}

.payments,
.payments-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payments {
  gap: 2rem;
  font-size: 14px;
}

.rights {
  color: #11397e;
  font-size: 14px;
}
