<div class="menu">
  <div class="text">Book flights</div>
  <select class="select-date">
    <option class="date" value="MM/DD/YYYY">"MM/DD/YYYY"</option>
    <option class="date" value="DD/MM/YYYY">"DD/MM/YYYY"</option>
    <option class="date" value="YYYY/DD/MM">"YYYY/DD/MM"</option>
    <option class="date" value="YYYY/MM/DD">"YYYY/MM/DD"</option>
  </select>
  <select class="select-currency">
    <option class="currency" value="usd">USD</option>
    <option class="currency" value="eur">EUR</option>
    <option class="currency" value="pln">PLN</option>
  </select>
  <button class="sign" (click)="toggleSignInModal()">
    <img src="../../../../assets/icons/sign-in.svg" alt="sign">
  </button>
  <button class="shop">
    <img src="../../../../assets/icons/shopping-basket.svg" alt="basket">
  </button>
</div>