<div class="cart-page main-content">
  <h1 class="title">Cart</h1>
  <ag-grid-angular
    class="ag-theme-alpine"
    style="max-width: 1100px; height: 500px;"
    [rowData]="trips$ | async"
    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef"
    [rowSelection]="'multiple'"
    (gridReady)="onGridReady($event)"
    (rowEditingStopped)="onRowEditingStopped($event)"
    (rowEditingStarted)="onRowEditingStarted($event)"
    editType="fullRow"
    [suppressClickEdit]="true"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
  <div class="middle-section">
    <button
      (click)="addNewTrip()"
    >+ Add new trip
    </button>
    <div class="price-section">
      <span class="regular">Total </span><span class="subtitle">{{currency}} {{ totalPrice$ | async }}</span>
    </div>
  </div>
  
</div>
